<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:vtex="http://www.vtex.com.br/2009/vtex-common" xmlns:vtex.cmc="http://www.vtex.com.br/2009/vtex-commerce">
<head>
<title>Tufi Duek</title>
<vtex:metaTags/>
<link rel="shortcut icon" href="/arquivos/favicon_tufi.ico" />
<link rel="stylesheet" type="text/css" href="/arquivos/td_general.css" />
<!--<link rel="stylesheet" type="text/css" href="/arquivos/td_nivoSlider.css" />-->
<script type="text/javascript" src="/arquivos/td_menu.js"></script>
<script type="text/javascript" src="/arquivos/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="/arquivos/jquery.jcarousel.min.js"></script>
<script type="text/javascript" src="/arquivos/td_interface.js"></script>
<!--  SubTemplate: pngIeFix -->
<vtex:template id="pngIeFix" />
<!-- /SubTemplate: pngIeFix -->
</head>

<body>

<div id="all">
    <vtex:template id="header-tufiduek" />
    <div id="content">
        <h2>Desfile</h2>
        <div id="desfile">
            <vtex:contentPlaceHolder id="Desfile" />
        </div>
    </div>
    <!--  SubTemplate: footer -->
    <vtex:template id="footer-tufiduek" />
    <!-- /SubTemplate: footer -->
</div>

</body>
</html>